.ShRecruit{
    nav{
        padding: .09rem;
        font-size: 0;
        background:#fff;
        display: -webkit-flex; /* Safari */
        display: flex;
        p{
            width: 1rem;
            font-size: .14rem;
            color:#B0B0B0;
            text-align: center;
            padding:0 .12rem;
            border-right:.01rem solid rgba(234,234,234,1);
            margin-right:.12rem;
            line-height: .2rem;
        }
        ul{
            overflow: hidden;
            white-space: nowrap;
            li{
                list-style: none;
                display: inline-block;
                font-size: .14rem;
                color:#B0B0B0;
                margin-right: .25rem;
                line-height: .2rem;
                text-align: center;
            }
            .active{
                font-weight: bold;
                color:#21c6cd;
                border-bottom: .02rem solid #21c6cd;
            }
        }
    }

    .srMain{
        font-size: 0;
        .sort{
            margin: .12rem 0;
            ul{
                li{
                    display:inline-block;
                    list-style: none;
                    width:25%;
                    font-size: .14rem;
                    color:#B0B0B0;
                    text-align: center;
                    img{
                        height:.08rem;
                        margin-left: .06rem;
                    }
                }
            }
        }

        #homeMain{
            .jobitems{
                background:#fff;
                padding:.21rem .12rem;
                display: flex;
                .pics{
                    display:inline-block;
                    width:.6rem;
                    height:.6rem;
                    border:.01rem solid #EAEAEA;
                    margin-right: .12rem;
                    background:#f8f8f8;
                    img{
                        width:.6rem;
                        height:.6rem;
                    }
                }

                .jobintro{
                    display:inline-block;
                    h2{
                        font-family: "苹方";
                        font-size: .15rem;
                        font-weight: bold;
                        color:#333333;
                        margin:0;
                        line-height: .24rem;
                    }
                    h3{
                        font-family: "苹方";
                        font-size: .14rem;
                        line-height: .18rem;
                        color:#666666;
                    }

                    span:nth-of-type(1){
                        display:block;
                        em{
                            font-family: "苹方";
                            font-size: .13rem;
                            color:#999999;
                            font-style: normal;
                            line-height: .18rem;
                        }
                        em:nth-last-of-type(1){
                            margin-left: .12rem;
                        }
                    }

                    span:nth-of-type(2){
                        em{
                            font-family: "苹方";
                            font-size: .13rem;
                            color:#999999;
                            font-style: normal;
                            line-height: .18rem;
                        }
                        b{
                            font-weight: normal;
                            margin:0 .06rem;
                            font-size: .14rem;
                            color:#999999;
                        }
                    }
                }

            }
            p{
                font-size: .14rem;
                color:#B0B0B0;
                text-align: center;
                margin-top: .24rem;
            }
        }
    }
}
