.loading {
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    .block {
        flex-shrink: 1;
        padding: .21rem .12rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        height: 0.6rem;
        .img {
            flex-shrink: 0;
            width: 0.6rem;
            height: 0.6rem;
            margin-right: 0.12rem;
            background: #f8f8f8;
        }

        .word {
            p {
                margin-bottom: 0.08rem;
                background: #f8f8f8;
                width: 2.7rem;
                height: 0.14rem;
            }
        }
    }

}
