#favoriteCompany{
    font-size: 0;
    .jobitems{
        background:#fff;
        padding:.15rem 0 0 .13rem;
        display: flex;
        height: 1.1rem;
        box-sizing: border-box;
        .pics{
            display:inline-flex;
            width:.6rem;
            height:.6rem;
            border:.01rem solid #EAEAEA;
            margin-right: .12rem;
            background:#fff;
            justify-content: center;
            align-items: center;
            img{
                max-width:.6rem;
            }
        }

        .jobintro{
            width: 80%;
            display:inline-block;
            border-bottom:.01rem solid #EAEAEA;
            padding-bottom:.1rem;
            padding-right: .04rem;
            h2{
                font-family: "苹方";
                font-size: .15rem;
                font-weight: bold;
                color:#333333;
                margin:0;
                line-height: .24rem;
                margin-bottom: .04rem;
                span{
                    display:inline-block;
                    width:.38rem;
                    height:.19rem;
                    border:.01rem solid #21C6CD;
                    border-radius:.05rem;
                    font-size: .13rem;
                    color:#21C6CD;
                    line-height: .19rem;
                    text-align: center;
                    font-weight: normal;
                    margin-left: .1rem;
                }
            }
            h3{
                font-size: .13rem;
                line-height: .18rem;
                color:#999999;
                font-weight: normal;
                span{
                    font-family: "苹方";
                    font-size: .13rem;
                    line-height: .18rem;
                    color:#999999;
                    font-weight: normal;
                    em{
                        font-style: normal;
                    }
                }
            }

            .address{
                display:block;
                em{
                    font-family: "苹方";
                    font-size: .13rem;
                    color:#999999;
                    font-style: normal;
                    line-height: .18rem;
                }
            }

            span:nth-last-of-type(1){
                display:inline-block;
                em{
                    font-family: "苹方";
                    font-size: .13rem;
                    color:#999999;
                    font-style: normal;
                    line-height: .18rem;
                }
                b{
                    font-weight: normal;
                    margin:0 .06rem;
                    font-size: .14rem;
                    color:#999999;
                }
            }
        }
    }

    .jobitems:nth-of-type(1){
        border-top:.01rem solid #EAEAEA;
    }

    .jobitems:nth-last-of-type(1){
        border-bottom:.01rem solid #EAEAEA;
        .jobintro{
            border-bottom:none;
        }
    }
}