.ZhaoDaSearch{

    .getting{
        font-size:0.16rem;
        background:#FFFFFF;
        .items{
            padding:0.16rem 0.14rem 0.14rem;
            border-top:0.01rem solid #D8D8D8;
            span{
                    font-size:0.15rem;
                    font-family:"苹方";
                    color:#333333;
                    font-weight:bold;
                    line-height:0.24rem;
            }
            p{
                    font-size:0.14rem;
                    font-family:"苹方";
                    color:#666666;
                    line-height:0.25rem;
                    margin-top:0.1rem;
            }
            b{
                color:#FFD112;
            }
        }

        .items:nth-last-child(1){
            border-bottom:0.01rem solid #D8D8D8;
        }
    }
}