.zhaoda{
    background:#f8f8f8;
    html{
        margin:0rem;
        padding:0rem;
    }
    header{
        width:100%;
        height:0.45rem;
        padding:0.12rem 0rem;
        background:#ffffff;
        .search{
            width:81%;
            height:0.3rem;
            margin: 0.12rem auto;
            border:none;
            box-sizing:boder-box;
            display:flex;
            justify-content:space-around;
            .input{
                width:92%;
                border: 1px #e5e5e5 solid;
                border-radius:0.42rem;
                font-size:0.13rem;
                font-family:"苹方";
                position:relative;
                input{
                    width:88%;
                    height:0.26rem;
                    border-radius:0.42rem;
                    text-indent:0.1rem;
                    font-size:0.13rem;
                    font-family:"苹方";
                    border:none;
                    line-height:0.3rem;
                    position:absolute;
                    left:0rem;

                }
                img{
                    margin-top:0.06rem;
                    margin-right:0.06rem;
                    width:0.16rem;
                    height:0.16rem;
                    position:absolute;
                    right:0;
                }
            }
            .query{
                display:block;
                color:#666666;
                width:0.6rem;
                height:0.28rem;
                margin-left:0.14rem;
                line-height:0.28rem;
                background:#FFE25C;
                border-radius:0.28rem;
                font-size:0.13rem;
                font-family:"苹方";
                text-align:center;
                -webkit-box-sizing:border-box;
            }
        }
    }

    nav{
        width:100%;
        height:0.35rem;
        padding:0rem 0.22rem;
        -webkit-box-sizing:border-box;
        display:flex;
        justify-content:space-around;
        background:#ffffff;
        ul{
            width:100%;
            font-size:0.15rem;
            display:flex;
            list-style:none;
            position:relative;
            justify-content:space-around;

            li{
                list-style:none;
                width:0.4rem;
                text-align:center;
                line-height:0.35rem;
            }
            .active{
                border-bottom:0.02rem #FFD112 solid;
                color:#FFD112;
            }
        }
    }

    #show{
        width:100%;
        height:1.5rem;
        background:lightgray;
        position:relative;
        ol{
            list-style:none;
        }
        .item{
            width:100%;
            height:1.5rem;
            position: absolute;
            left:0rem;
            top:0rem;
        }
        img{
            width:100%;
            height:1.5rem;
            background:#333333;
        }
        .carousel-indicators{
            width:100%;
            height:0.2rem;
            display:flex;
            position:absolute;
            justify-content:center;
            bottom:0.1rem;
            li{
                width:0.1rem;
                height:0.1rem;
                border-radius:50%;
                background:white;
                margin:0rem 0.05rem;
                z-index:9999;
            }
        }

    }

    #latest{
        width:100%;
        background:#f8f8f8;
        margin-bottom:0.7rem;
        .title{
            font-size:0.16rem;
            font-weight:bold;
            color:#666666;
            background:#f8f8f8;
            display:flex;
            align-items:center;
            padding:0.13rem 0.14rem 0.14rem;
            img{
                width:0.15rem;
                height:0.18rem;
                display:flex;
                float:left;
                margin-right:0.06rem;
            }
        }
        article{
            width:100%;
            padding:0 0.13rem;
            box-sizing:border-box;
            margin-bottom:0.14rem;
            border-top:0.01rem #d8d8d8 solid;
            border-bottom:0.01rem #d8d8d8 solid;
            background:#ffffff;

            .topic{
                width:100%;
                display:flex;
                font-size:0.13rem;
                font-family:"苹方";
                color:#ADADAD;
                i{
                    font-style:normal;
                }
                margin:0.16rem 0;
            }
            .theme{
                width:100%;
                font-size:0.16rem;
                font-family:"苹方";
                font-weight:bold;
                color:#333333;
                line-height:0.24rem;
            }
            .publisher{
                width:100%;
                font-size:0.14rem;
                font-family:"苹方";
                font-weight:bold;
                color:#666666;
                margin-top:0.16rem;
                color:#696969;
                line-height:0.2rem;
                display:flex;
                align-items:center;
                .vip,img{
                    width:0.16rem;
                    height:0.16rem;
                }
                .vip{
                    margin-left:0.03rem;
                    display:inline-block;
                }
                span{
                    font-size:0.14rem;
                    font-family:"苹方";
                    color:#ADADAD;
                    font-weight:normal;
                }
            }
            .comment{
                width:100%;
                font-size:0.14rem;
                font-family:"苹方";
                line-height:0.25rem;
                color:#666666;
                margin:0.15rem 0rem;
                span{
                    position:relative;
                    display:block;
                    img{
                        width:80%;
                        height:0.3rem;
                    }
                    .start{
                        position:absolute;
                        left:0.15rem;
                        top:0.05rem;
                        img{
                            width:0.2rem;
                            height:0.2rem;
                        }
                    }
                    b{
                        display:block;
                        width:0.3rem;
                        font-style:normal;
                        line-height:0.3rem;
                        float:right;
                        margin-right:0.1rem;
                        font-weight:normal;
                    }
                }
            }
            .more{
                width:100%;
                font-size:0.14rem;
                font-family:"苹方";
                color:#ADADAD;
                margin:0.15rem 0rem;
                line-height:0.2rem;
                span{
                    display:inline-flex;
                    align-items:center;
                    margin-right:0.2rem;
                    b{
                        display:inline-block;
                        width:0.16rem;
                        height:0.16rem;
                        margin-right:0.06rem;
                    }
                }
                img{
                    width:0.15rem;
                    height:0.15rem;
                }
            }
        }
        .Formore{
            width:92%;
            height:0.4rem;
            border:0.01rem #FFE25C solid;
            color:#666666;
            font-size:0.14rem;
            text-align:center;
            line-height:0.4rem;
            border-radius:0.05rem;
            margin:0.3rem auto 0;
            background:#ffe25c;
        }
    }


    #moreTopic{
        width:100%;
        padding:0 0.1rem;
        box-sizing:border-box;
        background:#f8f8f8;
        padding-bottom:0.1rem;
        .head{
            display:flex;
            align-items:center;
            position:relative;
            .hot{
                    font-size:0.16rem;
                    font-family:"苹方";
                    font-weight:bold;
                    color:#666666;

                img{
                    width:0.23rem;
                    height:0.16rem;
                    margin-right:0.06rem;
                }
            }
            .all{
                font-size:0.13rem;
                font-family:"苹方";
                color:#FFD112;
                position:absolute;
                right:0rem;
                cursor: pointer;
                img{
                    width:0.1rem;
                    height:0.13rem;
                    margin-left:0.06rem;
                }
            }

            img{
                width:0.16rem;
                height:0.16rem;
            }
        }
        .content{
            height:2rem;
            margin-top:0.2rem;
            position:relative;
            white-space: nowrap;
            display: inline-block;
            .img{
                width:1.6rem;
                height:1.65rem;
                box-sizing:border-box;
                border-radius:0.03rem;
                box-shadow:0 0 0.06rem rgba(0,0,0,0.15);
                background:#FFF;
                padding-top:0.14rem;
                margin-right:0.1rem;
                display: inline-block;
                .span1{
                    display:block;
                    width:0.75rem;
                    height:0.75rem;
                    border-radius:0.05rem;
                    background:#dadada;
                    margin:0 auto;
                }
                .span2{
                    display:block;
                    font-size:0.14rem;
                    font-family:"苹方";
                    font-weight:bold;
                    color:#333333;
                    text-align:center;
                    margin:0.17rem 0 0.12rem;
                }
                .care{
                    display:block;
                    text-align:center;
                    font-size:0.14rem;
                    font-family:"苹方";
                    color:#333333;
                }

               .care span:nth-child(1){
                    margin-right:0.08rem;
                }
            }
        }
        .topic2{
            .img{
                .span1{
                    border-radius:50%;
                }
            }
        }

        .topic3{
            .content {
                .img{
                    padding-top:0rem;
                    border-radius:0.03rem;
                    font-size: 0;
                    img{
                        width:1.6rem;
                        height:1.1rem;
                        border-radius:0.03rem 0.03rem 0 0;
                    }
                    p{
                        bottom:0.11rem;
                        font-size:0.13rem;
                        font-family:"苹方";
                        color:#666666;
                        line-height:0.19rem;
                        text-align:left;
                        padding:0rem 0.1rem;
                    }
                }
            }

        }
    }

    .bottom{
        font-size:0.16rem;
        font-family:"苹方";
        color:#ADADAD;
        line-height:0.19rem;
        text-align:center;
        margin-top:0.5rem;
    }

}
