.SlideBar{
    overflow: hidden;
    padding: .09rem 0;
    font-size: 0;
    background:#fff;
    display: -webkit-flex; /* Safari */
    display: flex;
    p{
        position: relative;
        z-index: 2;
        white-space: nowrap;
        width: 1rem;
        font-size: .14rem;
        color:#B0B0B0;
        text-align: center;
        padding:0 .12rem;
        border-right:.01rem solid rgba(234,234,234,1);
        margin-right:.12rem;
        line-height: .2rem;
        background: #fff;
    }
    ul{
        z-index: 1;
        position: relative;
        white-space: nowrap;
        li{
            list-style: none;
            display: inline-block;
            font-size: .14rem;
            color:#B0B0B0;
            margin-right: .25rem;
            line-height: .2rem;
            text-align: center;
        }
        .active{
            font-weight: bold;
            color:#21c6cd;
            border-bottom: .02rem solid #21c6cd;
        }
    }
}
