.ZhaoDaTopic{
  .top{
    background: #fff;
    position: relative;
    height: .45rem;
    line-height: .45rem;
    font-size: .17rem;
    color: #000;
    display: flex;
    justify-content:center;
    span:nth-child(1){
      position: absolute;
      top: .03rem;
      left: .2rem;
      width: .1rem;
      height: .18rem;
      img{
        width: .1rem;
        height: .18rem;
      }
    }
    span:nth-child(2){
    }
  }
  .select{
    background: #fff;
    width: 100%;
    font-size: .16rem;
    white-space: nowrap;
    ul{
      overflow: hidden;
      white-space: nowrap;
      width:100%;
      .active{
        border-bottom: .02rem solid #000;
      }
      li{
        padding: .05rem 0;
        width: .66rem;
        text-align: center;
        display:inline-block;
      }
    }
  }
  .content{
    margin-top:.24rem;
    .itemGroup{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
        .item{
          display: flex;
          font-size:0rem;
          width:32.9%;
          position:relative;
          align-items:center;
          margin-bottom:.03rem;
          img{
            width:100%;
          }
          p:nth-of-type(1){
            width:100%;
            text-align:center;
            font-family:"苹方";
            font-weight: bold;
            font-size: .14rem;
            color: #fff;
            position: absolute;

          }
          p:nth-of-type(2){
            width:100%;
            text-align:center;
            font-family:"苹方";
            font-size: .115rem;
            color: #fff;
            position:absolute;
            bottom:10%;
          }
        }
    }

  }
}
