.ZhaoDaEnterprise{
    nav{
        font-size: 0;
        background:#fff;
        ul{
            overflow: hidden;
            white-space: nowrap;

            li{
                list-style: none;
                display: inline-block;
                font-size: .14rem;
                color:#B0B0B0;
                margin-right: .25rem;
                line-height: .35rem;
                text-align: center;
            }
            li:nth-of-type(1){
                padding:0 .12rem;
                border-right:.01rem solid rgba(234,234,234,1);
                margin-right:.12rem;
                line-height: .2rem;
            }
            .active{
                font-weight: bold;
                color:#21c6cd;
                border-bottom: .02rem solid #21c6cd;
            }
        }
    }

    .srMain{
        font-size: 0;
        .sort{
            margin: .12rem 0;
            ul{
                li{
                    display:inline-block;
                    list-style: none;
                    width:33.33%;
                    font-size: .14rem;
                    color:#B0B0B0;
                    text-align: center;
                    img{
                        height:.08rem;
                        margin-left: .06rem;
                    }
                }
            }
        }
        .hotjob{
            .jobitems{
                background:#fff;
                display: flex;
                .pics{
                    box-sizing: border-box;
                    width:22%;
                    padding:.2rem .12rem;
                    display:inline-block;
                    text-align: center;
                    span{
                        display:inline-block;
                        width:.6rem;
                        height:.6rem;
                        border:.01rem solid #EAEAEA;
                        background:#f8f8f8;
                        img{
                            width:.6rem;
                            height:.6rem;
                        }
                    }
                }

                .jobintro{
                    padding:.16rem .12rem .16rem 0;
                    width:78%;
                    box-sizing: border-box;
                    display:inline-block;
                    border-bottom: .01rem solid rgba(234,234,234,1);
                    h2{
                        font-family: "苹方";
                        font-size: .15rem;
                        font-weight: bold;
                        color:#333333;
                        margin:0;
                        line-height: .24rem;
                        margin-bottom: .04rem;
                        span{
                            display:inline-block;
                            width:.38rem;
                            height:.19rem;
                            border:.01rem solid #21C6CD;
                            border-radius:.05rem;
                            font-size: .13rem;
                            color:#21C6CD;
                            line-height: .19rem;
                            text-align: center;
                            font-weight: normal;
                            margin-left: .12rem;
                        }
                    }
                    h3{                            font-size: .13rem;
                        line-height: .18rem;
                        color:#999999;
                        font-weight: normal;
                        span{
                            font-family: "苹方";
                            font-size: .13rem;
                            line-height: .18rem;
                            color:#999999;
                            font-weight: normal;
                            em{
                                font-style: normal;
                            }
                        }
                    }

                    .address{
                        display:block;
                        em{
                            font-family: "苹方";
                            font-size: .13rem;
                            color:#999999;
                            font-style: normal;
                            line-height: .18rem;
                        }
                    }

                    span:nth-last-of-type(1){
                        display:inline-block;
                        em{
                            font-family: "苹方";
                            font-size: .13rem;
                            color:#999999;
                            font-style: normal;
                            line-height: .18rem;
                        }
                        b{
                            font-weight: normal;
                            margin:0 .06rem;
                            font-size: .14rem;
                            color:#999999;
                        }
                    }
                }
            }
            p{
                font-size: .14rem;
                color:#B0B0B0;
                text-align: center;
                margin-top: .24rem;
            }

        }

    }
}