.index{
  background: rgb(247, 247, 247);
  color: #363f4a;
  position: relative;
  img{
    width: 100%;
  }
  .search{
    display: flex;
    position: absolute;
    left: 50%;
    margin-left: -1.5rem;
    top: .18rem;
    z-index: 2;
    width:3rem;
    height: .32rem;
    // background: #fff;
    input{
      width:100%;
      border-radius: .16rem;
      border: none;
      opacity: .3;
      text-align: center;
    }
    button{
      position: absolute;
      right: .1rem;
      top: .05rem;
      width: 19px;
      height: 19px;
      img{
        width: 19px;
        height: 19px;
      }
    }
  }
  .rotation{
    position: absolute;
    display: flex;
    left: 50%;
    height: .3rem;
    width: .6rem;
    font-size: .9rem;
    margin-left: -.35rem;
    color: rgba(255,255,255,0.7);
    // align-items: flex-start;
    div{
      height: .2rem;
      flex-grow: 1;
    }
  }
  .container{
    font-size: .16rem;
    padding: 0 .1rem;
    .title{
      border-left: 4px solid #50d2c2;
      margin-bottom: .15rem;
      span{
        display: inline-block;
        margin-left: .1rem;
      }
    }
    section{
      .content-large{
        border-radius: .1rem;
        overflow: hidden;
        margin-bottom: .15rem;
      }
      .content-two{
        display: flex;
        .content{
          flex-grow: 1;
          border-radius: .1rem;
          overflow: hidden;
          .info{
            background: #fff;
          }
        }
      }
    }
  }
}
