.Notify{
    .experience{
        background:#fff;
        font-size: 0rem;
        margin: 0 0 .16rem 0;
        div{
            display: inline-flex;
            width:33%;
            height:.95rem;
            border-bottom:.01rem solid #EAEAEA;
            text-align: center;
            align-items: center;
            justify-content: center;
            span{
                display:inline-block;
                img{
                    width:.4rem;
                    height:.4rem;
                }
            }
            em{
                display: block;
                font-style: normal;
                font-size: .13rem;
                font-family: "苹方";
                color:#ADADAD;
                line-height: .24rem;
                margin-top: .06rem;
            }
        }

        div:nth-of-type(2){
            border:.01rem solid #EAEAEA;
            border-top: none;
        }

    }
}
