#platformDropIn{
    .alldropin{
        .dropindetail{
            .dropincontent{
                .dropinhead{
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    flex-wrap:wrap;
                }
            }
        }
    }
}