.Enterprise{

    .srMain{
        font-size: 0;
        .sort{
            margin: .12rem 0;
            ul{
                display: flex;
                // justify-content: space-around;
                li{
                    flex-grow: 1;
                    width:30%;
                    display:inline-block;
                    list-style: none;
                    font-size: .14rem;
                    color:#B0B0B0;
                    text-align: center;
                    position: relative;
                    img{
                        height:.08rem;
                        margin-left: .06rem;
                    }
                }
            }
        }
        .hotjob{
            .jobitems{
                background:#fff;
                padding:.21rem .12rem;
                display: flex;
                flex-flow: row;
                .pics{
                    display:inline-flex;
                    width:.6rem;
                    height:.6rem;
                    border:.01rem solid #EAEAEA;
                    margin-right: .12rem;
                    background:#fff;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width:.6rem;
                    }
                }

                .jobintro{
                    flex: 1;
                    overflow: hidden;
                    display:inline-block;
                    h2{
                        font-family: "苹方";
                        font-size: .15rem;
                        font-weight: bold;
                        color:#333333;
                        margin:0;
                        line-height: .24rem;
                        margin-bottom: .04rem;
                        span{
                            display:inline-block;
                            width:.38rem;
                            height:.19rem;
                            border:.01rem solid #21C6CD;
                            border-radius:.05rem;
                            font-size: .13rem;
                            color:#21C6CD;
                            line-height: .19rem;
                            text-align: center;
                            font-weight: normal;
                            margin-left: .12rem;
                        }
                    }
                    h3{
                        white-space: nowrap;
                        font-size: .13rem;
                        line-height: .18rem;
                        color:#999999;
                        font-weight: normal;
                        span{
                            font-family: "苹方";
                            font-size: .13rem;
                            line-height: .18rem;
                            color:#999999;
                            font-weight: normal;
                            em{
                                font-style: normal;
                            }
                        }
                    }

                    .address{
                        display:block;
                        em{
                            font-family: "苹方";
                            font-size: .13rem;
                            color:#999999;
                            font-style: normal;
                            line-height: .18rem;
                        }
                    }

                    span:nth-last-of-type(1){
                        display:inline-block;
                        em{
                            font-family: "苹方";
                            font-size: .13rem;
                            color:#999999;
                            font-style: normal;
                            line-height: .18rem;
                        }
                        b{
                            font-weight: normal;
                            margin:0 .06rem;
                            font-size: .14rem;
                            color:#999999;
                        }
                    }
                }
            }
            p{
                font-size: .14rem;
                color:#B0B0B0;
                text-align: center;
                margin-top: .24rem;
            }

        }

    }
}
