.ZhaoDaSearch{
    header{
        background:#FFFFFF;
        height:.45rem;
        padding:0 .12rem;
        .search{
                margin:0 auto;
                text-align:center;
                font-size:0.16rem;
                height:.45rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                    width:78%;
                    height:0.28rem;
                    border: 1px #e5e5e5 solid;
                    border-radius:0.42rem;
                    font-size:0.13rem;
                    font-family:"苹方";
                    color:#333333;
                    text-indent:0.1rem;
                    box-sizing:border-box;
                    line-height:0.28rem;
                }
                span{
                    font-size:0.14rem;
                    font-family:"苹方";
                    color:#21c5c6;
                    line-height:0.3rem;
                }
                span:nth-of-type(1){
                    margin:0 0.08rem 0 0;
                }
                span:nth-of-type(2){
                    margin:0 0 0 0.08rem;
                }
        }
    }

    nav{
        width:100%;
        height:0.35rem;
        padding:0rem 0.22rem;
        -webkit-box-sizing:border-box;
        display:flex;
        justify-content:space-around;
        background:#ffffff;
        ul{
            width:100%;
            font-size:0.15rem;
            display:flex;
            list-style:none;
            position:relative;
            justify-content:space-around;

            li{
                list-style: none;
                width:0.4rem;
                text-align: center;
                line-height:0.35rem;
            }
            .active{
                border-bottom:0.02rem #21c5c6 solid;
                color:#21c5c6;
            }
        }
    }

    .getting{
        font-size:0;
        background:#FFFFFF;
        .items{
            padding:0.21rem 0.14rem 0.21rem;
            border-top:0.01rem solid #D8D8D8;
            span{
                    font-size:0.16rem;
                    font-family:"苹方";
                    color:#333333;
                    font-weight:bold;
                    line-height:0.24rem;
            }
            p{
                    font-size:0.14rem;
                    font-family:"苹方";
                    color:#666666;
                    line-height:0.25rem;
                    margin-top:0.1rem;
            }
            b{
                color:#FFD112;
            }
            .more{
                width:100%;
                font-family:"苹方";
                color:#ADADAD;
                margin:0.15rem 0rem 0;
                line-height:0.2rem;
                span{
                    font-size:0.14rem;
                    font-weight: normal;
                    display:inline-flex;
                    align-items:center;
                    margin-right:0.2rem;
                    b{
                        display:inline-block;
                        width:0.16rem;
                        height:0.16rem;
                        margin-right:0.06rem;
                    }
                }
                img{
                    width:0.15rem;
                    height:0.15rem;
                }
            }
        }

        .items:nth-last-child(1){
            border-bottom:0.01rem solid #D8D8D8;
        }
    }
}